.mainSearchContainer {
    width: 1428.8167002440525px;
    height: 481.74055635938794px;
    align-content: center;
    gap: 10px;
    padding-bottom: 26px;
    border: 1px solid #2B8FD3;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 10%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.topSearchBoxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.middleSearchContainers {
    display: flex;
    flex-direction: row;
    margin-right: 40%;
    justify-content: space-between;

}

.searchKeywordsDiv {
    display: flex;
    flex-direction: row;
    margin: 1%;
    position: relative;
    right: 1%;
}

.searchKeywords {
    cursor: pointer;
    color: black;
}

.dropDownLocation {
    width: 419px;
    height: 60px;
    margin-left: 1%;
    margin-top: 3%;
    border: 1px #9c9b9b solid;
    border-radius: 5px;
    font-weight: 400;
    font-size: 18px;
    font-style: Arial;
    padding-left: 15px;

}

.dropDownsearchBy {
    width: 419px;
    height: 60px;
    margin-left: 3%;
    margin-top: 3%;
    border: 1px #9c9b9b solid;
    border-radius: 5px;
    font-weight: 400;
    font-size: 18px;
    font-style: Arial;
    padding-left: 15px;

}

.dropDownCondition {
    width: 419px;
    height: 60px;
    margin-left: 1%;
    margin-top: 3%;
    border: 1px #9c9b9b solid;
    border-radius: 5px;
    font-weight: 400;
    font-size: 18px;
    font-style: Arial;
    padding-left: 15px;
    margin-right: 3%;
}

.dropDownPayment {
    height: 60px;
    width: 195;
    border: 1px #9c9b9b solid;
    border-radius: 5px;
    font-weight: 400;
    font-size: 18px;
    font-style: Arial;
    padding-left: 15px;
    margin-top: 5%;
    margin-left: 5%;

}

.dropDownShipping {
    height: 60px;
    width: 195;
    border: 1px #9c9b9b solid;
    border-radius: 5px;
    font-weight: 400;
    font-size: 18px;
    font-style: Arial;
    padding-left: 15px;
    margin-top: 5%;

}

.dropDownPrice {
    height: 60px;
    width: 195;
    border: 1px #9c9b9b solid;
    border-radius: 5px;
    font-weight: 400;
    font-size: 18px;
    font-style: Arial;
    padding-left: 15px;
    margin-top: 5%;

}

.dropDownClearance {
    height: 60px;
    width: 195;
    border: 1px #9c9b9b solid;
    border-radius: 5px;
    font-weight: 400;
    font-size: 18px;
    font-style: Arial;
    /* padding-left: 15px; */
    margin-top: 5%;

}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.searchButtonTopDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0%;
}

.searchTopButtons {
    border: 2px solid #007ACD;
    background-color: white;
    width: 278px;
    height: 57px;
    top: 421px;
    gap: 10px;
    padding-top: 26px;
    padding-bottom: 26px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-style: arial;
    font-weight: 700;
    font-size: 24px;
    color: #44413D;
    padding-top: 15px;
    cursor: pointer;

}

.searchButtonDiv {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: 5%;
    position: relative;
    bottom: 25%;
}

.searchButton {
    background-color: #007ACD;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    padding-top: 12px;
    padding-right: Space/300;
    padding-bottom: 12px;
    padding-left: Space/300;
    border: solid 2px #007ACD;
    color: white;
    cursor: pointer;

}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

input {
    border: 1px #9c9b9b solid;
    border-radius: 5px;
    height: 60px;
    width: 420px;
    margin: 40px;
    appearance: none;
    outline: none;
    cursor: pointer;

}

input::placeholder {
    position: relative;
    left: 15px;
    font-weight: 400;
    font-size: 18px;
    font-style: Arial;
}

.clicked {
    background-color: #007ACD;
    color: white;
}