.mainSearchContainer {
    background-color: orange;
    width: 1441px;
    height: 255px;
}

.unorderedList {
    display: grid;
    grid-row: 5;
    grid-column: 5;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 8%;
    row-gap: 10px;
    column-gap: 100px;
    list-style-type: none;
}

.list {
    font-style: arial;
    font-weight: 400;
    font-size: 18px;
    color: #007ACD;
    text-decoration: none;
    margin: 10px;
    margin-left: 0%;
    margin-right: 15px;
}