* {
  font-family: Arial, sans-serif;
}

.comparison-container {
  width: fit-content;
  padding: 40px 50px 80px 50px;
  margin: 0 auto;
  transform: scale(1.05);
  transform-origin: top center;
}

.comparison-grid {
  display: grid;
  grid-template-columns: 112px repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 2rem;
  row-gap: 0;
  width: 100%;
}


.grid-product-card {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 2rem;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  height: 350px;
}

.grid-product-card img {
  width: 100%;
  height: 190px;
  object-fit: cover;
  border-radius: 4px;
}

.grid-product-card .location-date {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #333;
  margin-top: 8px;
}

.grid-product-card h4 {
  font-size: 15px;
  font-weight: normal;
  margin: 8px 0;
  line-height: 1.4;
}

.grid-product-card .buy-now {
  font-size: 11px;
  color: #666;
  margin-bottom: 2px;
  margin-top: 50px;
}

.grid-product-card .price {
  font-size: 17px;
  font-weight: bold;
  color: #000;
}


.attribute-cell {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  height: 100%; 
  padding: 10px;
  font-weight: bold;
  border: 1px solid #D8EFFF;
  text-align: center;
  box-sizing: border-box;
}

.value-cell {
  padding: 10px;
  border: 1px solid #D8EFFF;
  text-align: center;
}

.attr-light {
  background-color: #D8EFFF !important;
}

.attr-white {
  background-color: #FFFFFF !important;
}

.val-light {
  background-color: #F3FAFF;
}

.val-white {
  background-color: #FFF;
}

.remove-btn-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-top: 10px;
}

.remove-btn {
  font-size: 17px;
  font-weight: 600;
  width: 115px;
  height: 37px;
  background-color: #F6F5F4;
  color: #007ACD;
  border: none;
  cursor: pointer;
}

.comparison-link {
  position: fixed;
  bottom: 15px;
  right: 15px;
  background: none;
  border: none;
  color: #007ACD;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}